@using Microsoft.Extensions.Localization
@using Blogifier.Shared.Resources
@using Blogifier.Shared
@inject IStringLocalizer<Resource> _localizer

@{
    var listModel = (ListModel)Model;
}

@if (listModel.Posts.Count() > 0)
{
    <div id="post-container">
        <partial name="post-list-items.cshtml" />
    </div>
}
else
{
    <div class="h1 text-capitalize">@_localizer["empty"]!</div>
}

<script src="/themes/test/js/post.js" type="text/javascript"></script>
