.upload-file-item {
  border: solid $gray-200;
  border-width: 1px;
  border-radius: 0.25rem;
}

.error-panel {
  margin: 0 -16px -8px;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0 16px;
}

.vw-75 {
  width: 75vw;
}
